.login{
    width: 40%;
    height: 30rem;
    background-color: rgb(250, 250, 250);
}

.center{
    padding: 100px;
}

.check_lembrar{
    padding-left: 33px;
    padding-top: 7px;
}

.links{
    text-decoration: none;
}

.logo_ability{
    display: block;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.bg{
    position: fixed;
    margin-left: 230px;
    max-height: 500px;
    margin-top: 80px;
}

.container{
    position: relative;
    z-index: 0;
}